.__container {
	border: 1px solid;
	border-color: transparent;
	text-wrap: nowrap;
	border-radius: 10px;
	padding: 0.2rem 0.5rem;
	text-align: center;
}

.outlined {
	background-color: transparent;
}

.filled {
	font-weight: bold;
	color: var(--dark-100);
	border-color: transparent;
	background-color: var(--white);
}

.primary {
	border-color: transparent;
	background-color: var(--blue-200);
	color: var(--primary-blue);
}

.accent {
	color: var(--tg-theme-bg-color);
	border-color: transparent;
	background-color: var(--tg-theme-hint-color);
}

.error {
	color: var(--red-300);
	border-color: var(--red-300);
	background-color: var(--red-100);
}

.sm {
	padding: 0.1rem 0.3rem;
	font-size: 0.8rem;
	font-weight: normal;
}


.ok {
	color: var(--green-500);
	border-color: var(--green-300);
	background-color: var(--green-100);
}

