.container {
  padding: 1rem;
  border-radius: 8px;
}

.container button {
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  border-radius: 8px;
  background-color: var(--tg-theme-section-bg-color);
}

.resume {
  display: grid;
  place-content: center;
  padding: 0.7rem;
  border-radius: 8px;
}


.ok {
	background-color: var(--green-200);
}

.ok svg {
	fill: var(--green-500);
}

.label {
  display: flex;
  gap: 0.2rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}



.label label {
  height: 100%;
}

.label span {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  flex-direction: column;
  text-align: left;
}

.label label span {
  margin-top: 1rem;
  padding: 0 !important;
  display: flex;
 
}

input[type="file"] {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}



.noCv {
  border: 1px solid var(--red-300);
}

.Cv {
  border-radius: var(--green-300);
}

.loading svg {
  animation: loader 800s linear 0s 1 forwards;
}

@keyframes loader {
  from {
    fill: rgba(255, 255, 255, 0.393);
  }

  to {
    fill: inherit;
  }
}
