.container {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 1rem;

}

.container span {
    padding-left: 1rem;
    align-self: flex-start;
}

.col {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem ;
    justify-content: space-between;
}