.container {
	display: grid;
	grid-template-columns: 1rem auto;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.checkbox input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	-webkit-appearance: none;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15rem;
	height: 1.15rem;
	border: 0.15rem solid var(--primary-blue);
	border-radius: 0.15rem;
	transform: translateY(-0.075rem);
}

.checkbox input[type="checkbox"]::before {
	content: "";
	width: 0.65rem;
	height: 0.65rem;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1rem 1rem var(--primary-blue);
}

.checkbox input[type="checkbox"]:checked::before {
	transform: scale(1);
}
